$font-p: 12px;
$primary-color: #fff;
$secondary-color: blue;
$border: 1px solid #ccc;
$screen-width: 100vw;
$text-color: #000;
$drugs-sub-width: 33.33%;
$price-font: 30px;
$border-0: 0;

$muted-color: #ccc;
@mixin primary-text($text-color) {
  color: $text-color;
}

@mixin flex-wrapper-center() {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin drugs-container() {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.App {
  @include flex-wrapper-center();
  padding: 5%;
  margin: 10px;
  overflow: hidden;

  .main {
    padding: 10px;
    width: $screen-width;
    border: 5px solid #000000;
  }

  .drugs-heading {
    text-align: center;
    color: $secondary-color;
  }
}

.drugs-wrapper {
  @include flex-wrapper-center;
  padding: 50px;

  .drugs-container {
    border: $border;
    width: 49%;
    border-right: $border-0;
    border-bottom: $border-0;

    .drugs-sub-container {
      width: $drugs-sub-width;
      display: flex;
      align-items: center;
      padding: 5px;
      box-sizing: border-box;
    }
    &:nth-child(odd) {
      border-left: $border-0;
    }
    @include drugs-container();

    .badge {
      background: $muted-color;
      padding: 1px 8px;
      font-size: 10px;
      border-radius: 2px;
    }

    .drugs-name {
      font-size: 21px;
      text-transform: capitalize;
    }

    .old-price {
      font-size: $price-font;
      color: $muted-color;
      text-decoration: line-through;
      text-align: center;
      justify-content: space-between;
    }

    .new-price {
      font-size: $price-font;
      color: $secondary-color;
      font-weight: bold;

      .muted {
        color: $muted-color;
      }
    }
  }
  .new-price-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .caret {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 9px solid $muted-color;
    border-bottom: 5px solid transparent;
  }
}
.button-container {
  .coupon-genrate-button {
    background: #af1462;
    color: #fff;
    padding: 10px 68px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    margin: 30px 0;
  }
  .muted {
    color: $muted-color;
    text-align: center;
  }
}
