@font-face {
	font-family: "Roboto";
  // src: url("Roboto/Roboto-Black.ttf") format("truetype"),
  src: url("Roboto/Roboto-Medium.ttf") format("truetype")
	
}
body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
